.wait-page{
  width: 100%;
  font-size: 24px;
  color: #04d6dd;
  .state-tip{
    padding: 30px;
  }
  .btn-list{
    display: flex;
    justify-content: center;
    align-self: center;
    .btn{
      flex: 1;
      height: 60px;
      line-height: 60px;
      margin: 10px;
      background: #dbdbdb;
      color: #5a5a5a;
      font-size: 32px;
      text-align: center;
    }
  }
  .msg-list{
    background: rgba(221, 221, 221, 0.64);
    .msg-item{
      border-bottom: solid 1px #ededed;
      .msg{
        padding: 20px 30px;
        color: #b029ee;
      }
    }
  }
}